@charset "UTF-8";

:root {
    --vermelho: #E50914;
    --preta: #141414;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo {
    margin-left: 30px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav {
    margin-left: 30px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #FFF;
}

/*Série Principal*/

.serie-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)), url('/img/bkn99\(2\).jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
}

.serie-principal .container {
    width: 40%;
}

.serie-principal .sinopse {
    margin-top: 15px;
    margin-bottom: 15px;
}

.serie-principal .titulo {
    font-size: 45px;
    font-family: Arial, sans-serif;
}

.botao1 {
    margin-bottom: 5px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;

    padding: 5px 30px;
    font-size: 15px;
    font-weight: bold;

    cursor: pointer;
    transition: .2s ease all;
}

.botao1 i {
    font-size: 15px;
}

.botao1:hover {
    background-color: rgba(255, 255, 255, 0.685);
}

.botao2 {
    margin-bottom: 5px;
    background-color: rgba(128, 128, 128, 0.671);
    color: white;
    border: none;
    border-radius: 5px;

    padding: 5px 30px;
    font-size: 15px;
    font-weight: bold;

    cursor: pointer;
    transition: .2s ease all;
    
}

.botao2:hover {
    background-color: rgba(128, 128, 128, 0.267);
}

.botao2 i {
    margin-right: 5px;
    font-size: 15px;
}

 /*carrosel de series*/

.box-series {
    margin-top: 10px;
    height: 100%;
    width: 100%;
    display: block;
}